#define WIFI_SSID "your WiFi SSID"
#define WIFI_PASS "your WiFi password"
#define WIFI_CONFIG WiFi.config(IPAddress(1,1,1,1), IPAddress(1,1,1,1), IPAddress(255,255,255,0), IPAddress(1,1,1,1), IPAddress(1,1,1,1))

#define VESYNC_USER "your VeSync user ID"
// import hashlib
// hash = hashlib.md5(pass.encode('utf-8')).hexdigest()
#define VESYNC_HASH "hash code of your VeSync password"

#define DEVICE_ID "your device's UUID"
